@inject IDialogService DialogService

<div class="m-6 rounded overflow-hidden shadow-lg"
     @onclick="OpenDialog">


    <img class="w-full h-48 object-cover" src="@ImageDetails.Url" alt="@ImageDetails.Title" />
    <div class="p-6">
        <div class="flex items-baseline">
            @if (ImageDetails.IsNew)
            {
                <div class="flex items-baseline">
                    <span class="inline-block bg-red-200 text-red-800 text-xs px-2 rounded-full
                uppercase font-semibold tracking-wide">New</span>
                    <div class="ml-2 text-gray-600 text-md-left uppercase font-semibold tracking-wide">
                        @ImageDetails.PrettyDate
                    </div>
                </div>
            }
            else
            {
                <div class="text-gray-600 text-md-left uppercase font-semibold tracking-wide">
                    @ImageDetails.PrettyDate
                </div>
            }

        </div>
        <h3 class="mt-1 font-semibold text-2xl leading-tight truncate">
            <a href="@ImageDetails.Url" target="_blank">@ImageDetails.Title</a>
        </h3>
    </div>
</div>

@code
{
    [Parameter]
    public Image ImageDetails { get; set; }

    private void OpenDialog()
    {
        var parameters = new DialogParameters();
        parameters.Add("ImageDetails", ImageDetails);
        DialogService.Show<ImageDialog>(ImageDetails.Title, parameters);
    }
}


